
.smaller-image {
        width: 60px; /* Adjust width as needed */
        height: 60px; /* Adjust height as needed */
      }
      
.card{
  margin-bottom: 4%;
}

.overlay-text {
  font-size: 2em;
  font-weight: bold;
  padding: 0% 10%;
  margin-top: 8%;
  display: flex; 
  justify-content: center; 
  align-items: center;
  height: 50vh;
}