.dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    background-color: #4e82b1;
    padding: 20px;
  }