<div class="container">

    <div class="flex-container" fxLayout.sm="column">
        <div class="flex-item">
            <form [formGroup]="updateUserForm" (submit)="updateUser(user?.userId)">
                <div class="example-container">
                    <p>
                        <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Placeholder" value={{user?.username}} formControlName="username">
                        <mat-icon matSuffix>title</mat-icon>
                        </mat-form-field>
                    </p>
                    <br>
                    <p>
                        <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Placeholder" [value]="user?.email" formControlName="email">
                        <mat-icon matSuffix>email</mat-icon>
                        </mat-form-field>
                    </p>
                    <br>
                    <p>
                        <mat-form-field appearance="outline">
                          <mat-select formControlName="role" placeholder="Select role">
                            <mat-option *ngFor="let role of roles" [value]="role?.name">{{ role?.name }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                    </p>
                    <br>
                    <p class="buttons">
                        <span *ngIf="disabled">
                            <button mat-button color="primary" (click)="edit()" style="color: #4e82b1;">
                                <mat-icon style="color: #4e82b1;">edit</mat-icon> Edit User
                            </button>
                        </span>
                        <span *ngIf="!disabled">
                            <button type="submit" mat-button color="primary" style="color: #4e82b1;">
                                <mat-icon style="color: #4e82b1;">save</mat-icon> Save User
                            </button>
                        </span>
                        <span>
                            <a type="button" mat-button color="primary" [routerLink]="['/admin', 'users']" style="color: #4e82b1;">
                                <mat-icon style="color: #4e82b1;">cancel</mat-icon> Cancel
                            </a>
                        </span>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
