<div class="container">

    <div class="flex-container" fxLayout.sm="column">
        <div class="flex-item">
            <form [formGroup]="updateAuthorForm" (submit)="updateAuthor(author?.authorId)">
                <div class="example-container">
                    <p>
                        <mat-form-field appearance="outline">
                        <mat-label>First name</mat-label>
                        <input matInput placeholder="Placeholder" value={{author?.firstName}} formControlName="firstName">
                        <mat-icon matSuffix>title</mat-icon>
                        </mat-form-field>
                    </p>
                    <br>
                    <p>
                        <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Placeholder" value={{author?.lastName}} formControlName="lastName">
                        <mat-icon matSuffix>title</mat-icon>
                        </mat-form-field>
                    </p>
                    <br>
                    <p class="buttons">
                        <span *ngIf="disabled">
                            <button mat-button color="primary" (click)="edit()" style="color: #4e82b1;">
                                <mat-icon style="color: #4e82b1;">edit</mat-icon> Edit Author
                            </button>
                        </span>
                        <span *ngIf="!disabled">
                            <button type="submit" mat-button color="primary" style="color: #4e82b1;">
                                <mat-icon style="color: #4e82b1;">save</mat-icon> Save Author
                            </button>
                        </span>
                        <span>
                            <a type="button" mat-button color="primary" [routerLink]="['/admin', 'authors']" style="color: #4e82b1;">
                                <mat-icon style="color: #4e82b1;">cancel</mat-icon> Cancel
                            </a>
                        </span>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
