    <div class="container">
    <div class="list flex-column">
      <div class="card flex-row"
      *ngFor="let book of bookList; let i = index"
      (click)="toggleCard(i)"
      [ngClass]="{'open': i === selectedIndex}">
        <img [src]="book?.imageURL" class="book">
        <div class="flex-column info">
          <div class="title">{{ book.title + " ("+ book.genre.genre +")" }}</div>
          <div class="author">{{ book.author.firstName + " " + book.author.lastName }}</div>
          <div class="hidden bottom summary">
            {{ book.description }}
          </div>
          <div class="price">
            {{ book.price }} $
          </div>
        </div>
        <div class="hidden bottom flex-column middle">
          <div class="rate">
            <igc-rating [ngModel]="getRatingByUser(book.ratings)" (ngModelChange)="updateUserRating(book,$event)" name="userRating"></igc-rating>
          </div>
        </div>
        <div class="flex-column group">
          <div class="members">
            <span class="current">{{ getAverageRating(book.ratings) }}</span>/
            <span class="max">5</span>
          </div>
          <div class="hidden bottom add-button">
            <button class="simple" (click)="addItemToCart(book)" style="color: white;">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>